<html>
<head>
    <style type="text/css">
   TABLE {
    border: 1px solid black;
   }
   TD, TH {
    text-align: center;
    padding: 3px;
   }
   TD {
    border-left: 1px dashed black;
   }
   TH {
    color: black;
    background: grey;
   }
   .even {
    background: black;
   }
   .lc {
    text-align: left;
    border: none;
   }
  </style>
</head>
<body>
<h1>Airports</h1>
    <table cellspacing="0">
        <tr>
            <th>#</th>
            <th>name</th>
            <th>city</th>
            <th>country</th>
            <th>IATA</th>
            <th>ICAO</th>
            <th>latitude</th>
            <th>longitude</th>
            <th>altitude</th>
            <th>timezone</th>
            <th>DST</th>
            <th>ianaTZ</th>
            <th>type</th>
            <th>source</th>
        </tr>
        {{#airports}}
            <tr>
                <td>{{id}}</td>
                <td>{{name}}</td>
                <td>{{city}}</td>
                <td>{{country}}</td>
                <td>{{IATA}}</td>
                <td>{{ICAO}}</td>
                <td>{{latitude}}</td>
                <td>{{longitude}}</td>
                <td>{{altitude}}</td>
                <td>{{timezone}}</td>
                <td>{{DST}}</td>
                <td>{{ianaTZ}}</td>
                <td>{{type}}</td>
                <td>{{source}}</td>
            </tr>
        {{/airports}}
    </table>
</body>
</html>