<html>
<head>
    <style type="text/css">
   TABLE {
    border: 1px solid black;
   }
   TD, TH {
    text-align: center;
    padding: 3px;
   }
   TD {
    border-left: 1px dashed black;
   }
   .even {
    background: #dcdcdc;
   }
   .lc {
    text-align: left;
    border: none;
   }
  </style>
</head>
<body>
<div class="container py-5">
    <div class="row">
        <div class="col-10 mx-auto">
            <h1>File Upload Status</h1>
            <table class="table table-striped">
                <thead>
                <tr>
                    <th scope="col">#</th>
                    <th scope="col">name</th>
                    <th scope="col">city</th>
                    <th scope="col">country</th>
                    <th scope="col">IATA</th>
                    <th scope="col">ICAO</th>
                    <th scope="col">latitude</th>
                    <th scope="col">longitude</th>
                    <th scope="col">altitude</th>
                    <th scope="col">timezone</th>
                    <th scope="col">DST</th>
                    <th scope="col">ianaTZ</th>
                    <th scope="col">type</th>
                    <th scope="col">source</th>
                </tr>
                </thead>
                <tbody>
                {{#airports}}
                    <tr>
                        <td>{{id}}</td>
                        <td>{{name}}</td>
                        <td>{{city}}</td>
                        <td>{{country}}</td>
                        <td>{{IATA}}</td>
                        <td>{{ICAO}}</td>
                        <td>{{latitude}}</td>
                        <td>{{longitude}}</td>
                        <td>{{altitude}}</td>
                        <td>{{timezone}}</td>
                        <td>{{DST}}</td>
                        <td>{{ianaTZ}}</td>
                        <td>{{type}}</td>
                        <td>{{source}}</td>
                    </tr>
                {{/airports}}
                </tbody>
            </table>
        </div>
    </div>
</div>
</body>
</html>